<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XnkAppStart-Dome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCFFEF0D1CD7845700B5648E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFFEF261CD7845800B5648E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFFEF311CD7845800B5648E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
